.parent{
    background-color: blue;
    position: relative;
    padding: 10px;
    margin: 10px;
}

.child-one{
    position: relative;
    background-color: yellow;
    padding: 10px;
    width: 50px;
}

.child-two{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}

.child-three{
    background-color: brown;
    padding: 10px;
    margin: 10px;
}



.firstWord{
    position: relative;
    color: rgb(45, 2, 2);
    border-style: solid;
    border-width: 5px;;
    padding: 10px;
    border-color: blueviolet;
    margin-top: 30px;
}



.cartFirst{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: rgb(41, 12, 12);
    border-style: solid;
    border-color: blue;
    justify-content: center;
}

.cartList {
    flex-direction: column;
    list-style-type: none;
    margin: 10px;
    background-color: #e44c4c;
    overflow: hidden;
    width: 300px;

  }

ul.cartList:hover{
    background-color: rgb(140, 190, 182);
    padding: 20px;
}

.Home{
    color: brown;
    border-style: solid;
    padding: 20px;
}

.navigator{
    position: relative;
    color: rgb(228, 203, 12);
    position: relative;
    
    
}
 
ul {
    list-style-type: none;
    margin: 10px;
    background-color: #2cccbc;
    overflow: hidden;
    width: 800px;

  }

  li {
    float: left;
    font-size: 20px;
  }

  li :link {
    display: block;
    color: rgb(163, 225, 18);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li :link:hover{
    background-color: yellow;
  }

  /* .touch{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: blue;
    margin-top: 20px;
    border: solid black;
    width: 500px;
  } */

  .touch1{
    border: solid black;
    margin: 10px;
    border-style: double;
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: relative;

  }

  .touch1 .toolTip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;

  }

  .touch1:hover .toolTip{
    visibility: visible;
    /* position: absolute; */
    transform: translate(-10px, -100px);
    /* white-space: pre-wrap; */
    background: rgba(0, 0, 0, 0.872);
  }


  .touch2{
    border: solid black;
    margin: 10px;
    border-style: double;
    padding: 10px;
    text-align: center;
    display: inline-block;

  }

  .format{
    position: relative;
    display: flex;
    border: solid rgb(243, 39, 39);
    justify-content: left;
    height: 300px;

  }

  .format-1{
    display:flex;
    flex-direction: column;
    border: solid black;
    position: relative;
    margin: 20px;
    padding: 20px;
  }

  .buttonForm{
    margin: 30px;
    height: 20px;
  }

  

  

  

  

  
  